<main class="main-content">
  <h1>Medical File</h1>
  <div class="file-info-container file-container">
    <div class="setting file-info">
      <form id="fileForm">
    <input type="hidden" id="patientId" />
    <div class="input-box">
      <i class="fa-solid fa-user"></i>
      <input type="text" id="name" readonly />
    </div>
    <div class="input-box">
      <i class="fa-solid fa-venus-mars" style="z-index: 100;"></i>
      <input type="text" id="gender" readonly />
    </div>
    <div class="input-box">
      <i class="fa-solid fa-city"></i>
      <input type="text" id="city" readonly />
    </div>
    <div class="input-box">
      <i class="fa-solid fa-phone"></i>      
      <input type="text" id="phone" readonly />
    </div>
    <div class="input-box">
      <i class="fa-solid fa-envelope"></i>
      <input type="text" id="email" readonly />
    </div>
    <div class="input-box">
      <i class="fa-solid fa-calendar-days" style="z-index: 100;"></i>
      <input type="text" id="age" readonly />
    </div>
    <div class="input-box">
      <i class="fa-solid fa-ruler-vertical"></i>      
      <input type="text" id="height" />
    </div>
    <div class="input-box">
      <i class="fa-solid fa-weight-scale"></i>
      <input type="text" id="weight" />
    </div>
    <div class="setting">
      <i class="fa-solid fa-comment-medical"></i>      
      <ul id="diagnosticsList" class = "diagnosticsList"></ul>
      <div class="rounded-box">
        <input type="text" id="newDiagnostic" placeholder="Add new diagnostic" />
        <button type="button" class="button small-button" onclick="addNewDiagnostic()">Add Diagnostic</button>
      </div>
    </div>
    
    <div class="setting">
      <i class="fa-solid fa-pills"></i>  
      <ul id="medicationsList" class="medicationsList"></ul>
      <div class="rounded-box">
        <input type="text" id="newMedication" placeholder="Add new medication" />
        <button type="button" class="button small-button" onclick="addNewMedication()">Add Medication</button>
      </div>
    </div>
    
    <button type="button" class="button save-button" onclick="saveMedicalFile()">Save Medical File</button>

  </div>
  </form>
</div>
</div>
</div>
</main>