<aside class="sidebar">
  <div class="logo">
    <i class="fa-solid fa-heart-pulse"></i>
    <span>ClinicApp</span>
  </div>
  <div class="user" id="user-details">
    <img src="../Images/default_image.png" alt="user-image" class="user-img" />
    <div>
      <p class="bold" id="user-name">FirstName LastName</p>
      <p class="user-role" id="user-role">User role</p>
    </div>
  </div>
  <nav class="menu">
    <a href="/doctor/home" class="menu-item active" data-page="home">
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    </a>
    <a href="/doctor/appointments" class="menu-item" data-page="appointments">
      <i class="fa-solid fa-calendar-days" data-page="appointments"></i>
      <span>Appointments</span>
    </a>
    <a href="/doctor/patients" class="menu-item" data-page="patients">
      <i class="fa-solid fa-hospital-user"></i>
      <span>Patients</span>
    </a>
    <a href="/doctor/settings" class="menu-item" data-page="settings">
      <i class="fa-solid fa-gear"></i>
      <span>Settings</span>
    </a>
    <a href="/auth/logout" class="menu-item" data-page="logout">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>Logout</span>
    </a>
  </nav>
</aside>
