<form
  action="/auth/forgot-password"
  method="POST"
  name="formFill"
  onsubmit="return validateAndSubmitForgot()"
  id="forgotForm"
>
  <%- include('navbar') %>
  <h2>Forgot Password</h2>
  <p id="validation-message" class="validation-message">
    <% if (typeof errorMessage !== 'undefined') { %> <%= errorMessage %> <% } %>
  </p>
  <p id="success-message" class="success-message">
    <% if (typeof successMessage !== 'undefined') { %> <%= successMessage %> <%
    } %>
  </p>
  <div class="input-box">
    <i class="fa-solid fa-envelope"></i>
    <input type="email" id="email" name="email" placeholder="Email" />
    <label id="email-validation"></label>
  </div>
  <div class="submit-button">
    <input class="button" type="submit" />
  </div>
</form>
