<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/88f38507d4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="../Images/heart-pulse-solid.svg" />
    <link rel="stylesheet" href="/LoginSignup/login-signup.css" />
    <title>Join our App!</title>
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <main class="main-content" id="main-content-container">
          <% if (body === "login") { %> <%- include('login') %> <% } else if
          (body === "signup") { %> <%- include('signup') %> <% } else if (body
          === "forgot-password") { %> <%- include('forgot-password') %> <% }
          else if (body === "reset-password") { %> <%- include('reset-password')
          %> <% } %>
        </main>

        <script defer src="/LoginSignup/login-signup.js"></script>
      </div>
    </div>
  </body>
</html>
