<form
  action="/auth/login"
  method="POST"
  name="formFill"
  onsubmit="return validateAndSubmitLogin()"
  id="loginForm"
>
  <%- include('navbar') %>
  <h2>Log In</h2>
  <p id="validation-message" class="validation-message"></p>
  <div class="input-box">
    <i class="fa-solid fa-envelope"></i>
    <input type="email" id="email" name="email" placeholder="Email" />
    <label id="email-validation"></label>
  </div>
  <div class="input-box">
    <i class="fa-solid fa-lock"></i>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
    />
    <label id="password-validation"></label>
  </div>
  <div class="submit-button">
    <input class="button" type="submit" />
  </div>
</form>
