@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

body{
    background: url(../Images/icegif-943.gif) no-repeat;
    background-position: center;
    background-size: cover;
    background-position: left;
    min-height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar{
    top: 2rem;
    position: fixed;
    margin-left: 2rem;
}

.navbar .logo{
    color: #fafafa;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-left: 4.6rem;
}

.navbar .logo i{
    position: relative;
}

.navbar a{
    color: #fafafa;
    transition: 0.3s ease;
    margin-right: 0.7rem;
}

.navbar a:hover{
    color: #214976;
}

.navbar a.is-active{
    color: #214976;
}

.form-container{
    position: relative;
    min-width: 400px;
    min-height: 600px;
    border: 2px solid rgba(255,255,2550.5);
    border-radius: 20px;
    background: rgba(52, 113, 183, 0.6);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h2{
    color: #fafafa;
    text-align: center;
    font-size: 32px;
}

.form-container .input-box{
    position: relative;
    margin: 31px 0;
    width: 300px;
    border-bottom: 2px solid #fafafa;
}

.form-container .input-box input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    color: #fafafa;
    font-size: 16px;
}

input::placeholder{
    color: #fafafa;
}

.form-container .input-box i{
    position: absolute;
    color: #fafafa;
    right: 0;
}

.input-box i.fa-calendar-days{
    z-index: -100;
}

.input-box input[type="date"]{
    width: 320px;
    z-index: 10000;
}

.input-box input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
    cursor: pointer;
}

.input-box select{
    border: none;
    appearance: none;
    background: transparent;
    width: 300px;
    color: #fafafa;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    padding-right: 5px;
    cursor: pointer;
}

.input-box select option{
    color: #214976;
    background: #fafafa;
}

.input-box select:focus{
    outline: none;
}

.input-box i.fa-venus-mars{
    z-index: -100;
}

.input-box input[type="tel"]{
    margin-left: 3rem;
    border-left: 1.5px solid #fafafa;
}

.button{
    color: #fafafa;
    background: #3471B8;
    width: 100%;
    max-width: 400px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 3px 0 10px rgba(0,0,0,.5);
    transition: 0.3s;
}

.button:hover{
    background: #214976;
}

.group{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.group span a{
    color: #fafafa;
    position: relative;
    text-decoration: none;
    font-weight: 500;
}

.group a:focus{
    text-decoration: underline;
}

#validation-message{
    color: red;
    font-weight: 600;
    position: relative;
    top: 25px;
}

#success-message{
    color: green;
    font-weight: 600;
    position: relative;
    top: 25px;
}

.forgot-message-link{
    color: #fafafa;
    text-decoration: none;
}

.toggle-password-text{
    cursor: pointer;
    margin-top: -1.3rem;
    margin-bottom: -1.2rem;
    color: #fafafa;
    transition: 0.3s ease;
}

.toggle-password-text:hover{
    color: #214976;
}

.grid{
    display: block;
}

.signup-text{
    margin-top: 7rem;
}

#btn{
    margin-bottom: 2rem;
}

@media only screen and (min-width: 768px)  {
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
    }

    .column1{
        grid-area: 1 / 1 / 2 / 2;
        margin-left: 2rem;
    }
    
    .column2{
        grid-area: 1 / 2 / 2 / 3;
    }

    #btn{
        margin-left: 9rem;
    }
}