<navbar class="navbar">
  <div class="logo">
    <i class="fa-solid fa-heart-pulse"></i>
    <span>ClinicApp</span>
  </div>
  <!-- Add login, signup, forgot password, reset password links here -->
  <a href="/">Home</a>
  <a href="/login" data-page="login">Login</a>
  <a href="/signup" data-page="signup">Signup</a>
  <a href="/auth/forgot-password" data-page="forgot-password"
    >Forgot password</a
  >
</navbar>
