<form
  action="/auth/reset-password"
  method="POST"
  name="formFill"
  onsubmit="return validateAndSubmitReset()"
  id="resetForm"
>
  <%- include('navbar') %>

  <h2>Reset Password</h2>
  <p id="validation-message" class="validation-message">
    <% if (typeof errorMessage !== 'undefined') { %> <%= errorMessage %> <% } %>
  </p>
  <p id="success-message" class="success-message">
    <% if (typeof successMessage !== 'undefined') { %> <%=
    successMessage.replace(/\n/g, '<br />') %> <% } %>
  </p>
  <div class="input-box">
    <i class="fa-solid fa-lock"></i>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
    />
    <label id="password-validation"></label>
  </div>
  <p
    class="toggle-password-text"
    id="passwordToggleText"
    onclick="togglePasswordVisibility('password', 'passwordToggleText')"
  >
    Show Password
  </p>
  <div class="input-box">
    <i class="fa-solid fa-lock"></i>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm Password"
    />
    <label id="confirmPassword-validation"></label>
  </div>
  <p
    class="toggle-password-text"
    id="confirmPasswordToggleText"
    onclick="togglePasswordVisibility('confirmPassword', 'confirmPasswordToggleText')"
  >
    Show Password
  </p>
  <br /><br />
  <% if (typeof token !== 'undefined') { %>
  <input type="hidden" name="token" value="<%= token %>" />
  <% } %>
  <div class="submit-button">
    <input class="button" type="submit" />
  </div>
</form>
