<form
  action="/auth/signup"
  method="POST"
  name="formFill"
  onsubmit="return validateAndSubmitSignup()"
  id="signupForm"
>
  <%- include('navbar') %>
  <br /><br />
  <h2>Sign Up</h2>
  <p id="validation-message" class="validation-message"></p>
  <p id="success-message" class="success-message"></p>
  <div class="input-box">
    <i class="fa-solid fa-user"></i>
    <input
      type="text"
      id="first_name"
      name="first_name"
      placeholder="First Name"
    />
    <label id="first_name-validation"></label>
  </div>
  <div class="input-box">
    <i class="fa-solid fa-users"></i>
    <input
      type="text"
      id="last_name"
      name="last_name"
      placeholder="Last Name"
    />
    <label id="last_name-validation"></label>
  </div>
  <div class="input-box">
    <i class="fa-solid fa-envelope"></i>
    <input type="email" id="email" name="email" placeholder="Email" />
    <label id="email-validation"></label>
  </div>
  <div class="input-box">
    <i class="fa-solid fa-lock"></i>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
    />
    <label id="password-validation"></label>
  </div>
  <p
    class="toggle-password-text"
    id="passwordToggleText"
    onclick="togglePasswordVisibility('password', 'passwordToggleText')"
  >
    Show Password
  </p>
  <div class="input-box">
    <i class="fa-solid fa-lock"></i>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm Password"
    />
    <label id="confirmPassword-validation"></label>
  </div>
  <p
    class="toggle-password-text"
    id="confirmPasswordToggleText"
    onclick="togglePasswordVisibility('confirmPassword', 'confirmPasswordToggleText')"
  >
    Show Password
  </p>
  <br /><br />
  <div class="submit-button">
    <input class="button" type="submit" />
  </div>
</form>
