<main class="main-content">
  <h1>Doctors</h1>
  <button class="new-doctor-button" id="newDoctor">
    Add New Doctor Account
  </button>
  <div class="search-container">
    <i class="fa fa-search"></i>
    <input
      type="text"
      id="searchInput"
      placeholder="Search doctors..."
      class="search-bar"
    />
    <div id="clearSearch" class="fa fa-times"></div>
  </div>
  <div class="doctors-container"></div>
</main>
