/* Full document */
@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.smooth{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Top of the page */

.navbar-container{
    width: 90%;
    height: 70px;
    background:#bbbbbb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    top: 0;
    margin-left: 5%;
    position: fixed;
    z-index: 999;
}

nav .logo{
    display: none;
}

.logo{
    color: #1e1e1e;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    display: flex;
}

nav ul li a{
    color: #1e1e1e;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.5s;
    border-radius: 30px;
}

nav ul li a:hover{
    background-image: linear-gradient(to bottom, #1338BE, #1338BE60);
    color: #fafafa;
    border-radius: 30px;
}

nav ul li a.active{
    background-image: linear-gradient(to bottom, #1338BE, #1338BE60);
    color: #fafafa;
    border-radius: 30px;
}

.log-in-btn{
    background-image: linear-gradient(to bottom, #1338BE, #1338BE60);
    color: #fafafa;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.5s;
    border-radius: 30px;
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.5s;
}

.hamburger:hover{
    background: #f6f4ff;
}

.hamburger div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

/* Main content of the page */

body{
    background: #dedede;
}

.main-container{
    display: grid;
}

.image-container{
    margin-left: 5rem;
    margin-top: 20px;
    float: left;
}

.image-container img{
    border-radius: 2.5%;
    width: 100%;
}

.description-container{
    background: #3471B8;
    float: right;
    margin-right: 5rem;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
}

.description-container h2{
    margin-top: 10px;
    text-align: center;
    color: #fafafa;
}

.description-text{
    margin: 2% 2% 2% 2%;
    color: #fafafa;
}

.blank-space{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 100%;
    height: 50px;
}

.doctors-container{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1.5%;
    margin-left: 8%;
    align-items: center;
}

.doctors-container-element{
    background-color: #3471B8;
    color: #fafafa;
    padding: 5%;
    margin: 5%;
    border-radius: 10px;
    min-width: 22rem;
    margin-right: 2rem;
    text-align: center;
}

.doctors-container-element img{
    width: 100%;
    max-height: 300px;
    margin-bottom: 5%;
}

/* Bottom of the page */

footer{
    width: 100%;
    height: 140px;
    background-image: linear-gradient(to top, #3944BC, #3944BC80);
    position: relative;
    bottom: 0;
    border-radius: 10px 10px 0 0;
}

.footer-logo{
    position: absolute;
    left: 0;
    margin-top: 20px;
}

.footer-logo-text{
    color: #fafafa;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
}

.contact-footer{
    margin-top: 15px;
    margin-right: 10px;
    right: 0;
    position: absolute;
}

.contact-footer-label{
    font-weight: bold;
    font-size: 20px;
}

/* Responsiveness */

/* Switch to tablet */

@media only screen and (max-width: 1057px){
    [class*="col-"] {
        width: 100%;
        float: left;
    }

    /* Top of the page */

    header{
        width: 95%;
        padding: 0 20px;
        
    }
    nav{
        position: absolute;
        left: -400px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: #bbbbbb;
        transition: 0.5s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav{
        left: -50px;
    }

    nav .logo{
        display: block;
        font-size: 30px;
        display: flex;
        align-items: center;
        margin-left: -30px;
    }

    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    nav ul li a{
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    .hamburger{
        display: block;
    }

    /* Page body */

    .image-container{
        margin-left: 20%;
        margin-top: 20px;
    }
    
    .image-container img{
        border-radius: 2.5%;
        width: 60%;
    }

    .description-container{
        position: relative;
        width: 100%;
        margin-left: 0;
        margin-right: 10%;
        margin-top: 20px;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .description-text{
        width: 80%;
        height: auto;
        padding: 10px;
        margin: 0   auto;
        position: relative;
    }

    .doctors-container{
        left: 32%;
        display: flex;
        flex-direction: column;
        max-width: 10rem;
        align-items: center;
    }

    .doctors-container-element{
        left: 0;
        width: 100%;
        height: auto;
        max-width: 10rem;
    }

    /* Footer */

    .footer-logo{
        position: absolute;
    }

    .contact-footer{
        position: absolute;
        right: 0;
        margin-right: 3rem;
    }

}
  
@media only screen and (min-width: 1057px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}