<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Patients/patients.css" />
    <script
      src="https://kit.fontawesome.com/88f38507d4.js"
      crossorigin="anonymous"
    ></script>
    <title>Home</title>
  </head>
  <body>
    <div class="menu-toggle">
      <div class="hamburger">
        <span></span>
      </div>
    </div>

    <%- include('sidebar') %>

    <main class="main-content" id="main-content-container">
    </main>

    <script defer src="/Patients/patients.js"></script>
  </body>
</html>
