<aside class="sidebar">
  <div class="logo">
    <i class="fa-solid fa-heart-pulse"></i>
    <span>ClinicApp</span>
  </div>
  <div class="user" id="user-details">
    <img src="../Images/default_image.png" alt="user-image" class="user-img" />
    <div>
      <p class="bold">FirstName LastName</p>
      <p class="user-role">User role</p>
    </div>
  </div>
  <nav class="menu">
    <a href="/patient/home" class="menu-item active" data-page="home">
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    </a>
    <a href="/patient/appointments" class="menu-item" data-page="appointments">
      <i class="fa-solid fa-calendar-days" data-page="appointments"></i>
      <span>Appointments</span>
    </a>
    <a href="/patient/file" class="menu-item" data-page="file">
      <i class="fa-solid fa-file-medical"></i>
      <span>File</span>
    </a>
    <a href="/patient/settings" class="menu-item" data-page="settings">
      <i class="fa-solid fa-gear"></i>
      <span>Settings</span>
    </a>
    <a href="/auth/logout" class="menu-item" data-page="logout">
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <span>Logout</span>
    </a>
  </nav>
</aside>
